[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/inan0812/mozilla-ca.git
        branch = main
[submodule "Inans-blockchain-gui"]
	path = Inans-blockchain-gui
	url = https://github.com/inan0812/Inans-blockchain-gui.git
